body {
  text-align: center;
  padding: 70px 50px;
  background: #0d1a29;
  font-family: sans-serif;
  font-weight: lighter;
}

.timer {
  font-size: 3em;
  font-weight: 100;
  color: white;
  text-shadow: 0 0 20px #48c8ff;
}

#datetime-picker {
  text-shadow: 0 0 20px #48c8ff;
  background: #0d1a29;
}

.timer div {
  display: inline-block;
  min-width: 90px;
}

.timer div span {
  color: #b1cdf1;
  display: block;
  font-size: 0.35em;
  font-weight: 400;
}
